name: CI

on:
  workflow_dispatch:
    inputs:
      env:
        description: "The environment to test against"
        required: false
        type: choice
        options:
          - dev
          - sepolia
          - mainnet
        default: "dev"
  push:
    branches:
      - main
    paths:
      - "**/*.py"
      - tests/**
      - core/**
      - package_managers/**
      - ranker/**
  pull_request:
    branches:
      - main
    paths:
      - "**/*.py"
      - tests/**
      - core/**
      - package_managers/**
      - ranker/**

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup with pkgx
        uses: pkgxdev/setup@v4
        with:
          +: astral.sh/uv
            astral.sh/ruff
            pytest.org

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install the project
        run: pkgx uv sync --locked --all-extras --dev --all-groups

      - name: Lint with Ruff
        uses: astral-sh/ruff-action@v3
        with:
          src: .

      - name: Run tests with pytest
        id: pytest
        run: |
          pkgx uv run pytest tests/

  complain:
    needs: check
    if: failure()
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/complain
        with:
          test_function: "pytest"
          token: ${{ secrets.GITHUB_TOKEN }}
